In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
!cp /content/drive/My\ Drive/L7andL8/thecarconnectionpicturedataset.rar /content/

In [7]:
!pip install patool

Collecting patool
  Downloading https://files.pythonhosted.org/packages/43/94/52243ddff508780dd2d8110964320ab4851134a55ab102285b46e740f76a/patool-1.12-py2.py3-none-any.whl (77kB)
     |████████████████████████████████| 81kB 2.3MB/s
Installing collected packages: patool
Successfully installed patool-1.12

In [8]:
!mkdir /content/CarImages/

In [9]:
import patoolib
patoolib.extract_archive('/content/thecarconnectionpicturedataset.rar', outdir='/content/CarImages/')

patool: Extracting /content/thecarconnectionpicturedataset.rar ...
patool: running /usr/bin/unrar x -- /content/thecarconnectionpicturedataset.rar
patool:     with cwd='/content/CarImages/'
patool: ... /content/thecarconnectionpicturedataset.rar extracted to `/content/CarImages/'.

'/content/CarImages/'

# Create an array of unstructured data and analyze it WITHOUT explicitly creating a table first.

In [10]:
import os
arr = os.listdir('/content/CarImages/')
print(arr[:10])

['Ford_Fiesta_2016_14_15_120_16_4_67_58_173_28_FWD_5_4_4dr_ZBk.jpg', 'Mercedes-Benz_Metris_2020_31_17_200_20_4_75_75_202_20_RWD_2_3_Van_Yfb.jpg', 'Alfa Romeo_Giulia_2017_39_17_280_20_4_73_56_182_23_AWD_5_4_4dr_Sed.jpg', 'Chevrolet_Volt_2016_33_17_140_15_4_71_56_180_43_FWD_5_4_4dr_EuI.jpg', 'Nissan_Sentra_2017_24_18_180_16_4_69_58_183_25_FWD_5_4_4dr_IaF.jpg', 'Kia_Sportage_2017_27_18_180_24_4_73_65_176_21_AWD_5_4_SUV_tBW.jpg', 'MINI_Clubman_2019_26_16_130_15_3_70_56_168_22_AWD_5_4_4dr_oMG.jpg', 'Honda_Accord_2013_25_17_180_24_4_72_56_189_26_FWD_5_2_2dr_rPZ.jpg', 'Subaru_Impreza_2011_18_16_170_25_4_68_58_180_20_AWD_5_4_4dr_Nxx.jpg', 'Mitsubishi_Eclipse Cross_2019_23_16_150_15_4_71_66_173_26_FWD_5_4_SUV_IMu.jpg']

In [11]:
# 'Make', 'Model', 'Year', 'MSRP', 'Front Wheel Size (in)', 'SAE Net Horsepower @ RPM', 'Displacement', 'Engine Type', 'Width, Max w/o mirrors (in)', 'Height, Overall (in)', 'Length, Overall (in)', 'Gas Mileage', 'Drivetrain', 'Passenger Capacity', 'Passenger Doors', 'Body Style'

In [25]:
# Exploring the filename strings after parsing out just the first word of the filename - which represents the brand of the vehicle. 

import pandas as pd
df = pd.DataFrame({'filename': arr})
# df['filename'].str.split('_').str[0].str.split('_').str[-1]  

# How many images of each car type do we have?         
df['filename'].str.split('_').str[2].value_counts()

2019    10224
2011     9090
2017     7965
2016     6453
2015     6284
2014     5606
2020     5562
2012     5112
2013     4691
2010     1938
2009      351
2005      273
2008      224
2006      175
2004      152
2007      123
2003       64
2001       39
1999       36
2000       34
2002       28
1998       25
1997       10
1990        3
1995        2
1996        2
1994        1
Name: filename, dtype: int64

In [26]:
DataFrameOfCarData = pd.DataFrame(df['filename'].str.split('_').tolist(), index= df.index)
DataFrameOfCarData.head()

              0       1     2   3   4    5   ...  11   12 13 14   15       16
0           Ford  Fiesta  2016  14  15  120  ...  28  FWD  5  4  4dr  ZBk.jpg
1  Mercedes-Benz  Metris  2020  31  17  200  ...  20  RWD  2  3  Van  Yfb.jpg
2     Alfa Romeo  Giulia  2017  39  17  280  ...  23  AWD  5  4  4dr  Sed.jpg
3      Chevrolet    Volt  2016  33  17  140  ...  43  FWD  5  4  4dr  EuI.jpg
4         Nissan  Sentra  2017  24  18  180  ...  25  FWD  5  4  4dr  IaF.jpg

[5 rows x 17 columns]

In [27]:
DataFrameOfCarData.columns = ['Make', 'Model', 'Year', 'MSRP', 'Front Wheel Size (in)', 'SAE Net Horsepower @ RPM', 'Displacement', 'Engine Type', 'Width, Max w/o mirrors (in)', 'Height, Overall (in)', 'Length, Overall (in)', 'Gas Mileage', 'Drivetrain', 'Passenger Capacity', 'Passenger Doors', 'Body Style','ID']
DataFrameOfCarData['ID'] = DataFrameOfCarData['ID'].str.split('.').str[0] 
DataFrameOfCarData.head()

            Make   Model  Year  ... Passenger Doors Body Style   ID
0           Ford  Fiesta  2016  ...               4        4dr  ZBk
1  Mercedes-Benz  Metris  2020  ...               3        Van  Yfb
2     Alfa Romeo  Giulia  2017  ...               4        4dr  Sed
3      Chevrolet    Volt  2016  ...               4        4dr  EuI
4         Nissan  Sentra  2017  ...               4        4dr  IaF

[5 rows x 17 columns]