In [1]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [3]:
import pandas as pd
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1RlzaYjoCDEhM7f5cWec4DcoTPB_-rEr_2m0_OxL3IuY/edit?usp=sharing')
sheet = wb.worksheet('Sheet1')
# Now that we have the tab specified itâ€™s time to get the data. To do this we will just call the get_all_values() function off of the sheet object we created above:
data = sheet.get_all_values()

df = pd.DataFrame(data[1:])
df.columns = data[0]

df.to_csv('heightWeightSurveyData.csv', index=None)
df.head()

   Height Weight
0  175.26    160
1   152.4    108
2     163    115
3   162.5    115
4     165    130